
/* footer */

.section-footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 0;
  }
  
  .section-footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .section-footer h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
  
  .section-footer h3 {
    margin-bottom: 0.7rem;
  }
  
  .section-footer a {
    line-height: 1.9;
    color: var(--light-color);
  }
  
  .section-footer a > i {
    color: var(--ternary-color);
    margin-right: 0.5rem;
  }

.footer-register a:hover {
  cursor: pointer; 
}

@media (max-width: 768px){
    .section-footer {
        padding: 2rem 0;
      }
    
      .section-footer .container {
        grid-template-columns: 1fr;
        text-align: center;
      }
    
      .section-footer div:nth-child(2),
      .section-footer div:nth-child(3) {
        display: none;
      }
}